<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student Web App</title>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/delete.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
	<title>Student Account Web</title>
    	
</head>
<body style="font-size:16px">


	<h3 id="h3Id">Delete the profile of </h3>

	
	 <div class="form-group">
  	  <p><a href="/">Home</a></p>
 	 </div>

</body>
</html>
